* {
    margin: 0;
    padding: 0;
}

h2 {
    color: blue;
}

// a {
//     // text-decoration: none;
//     // color: #333;
// }

body {
    font-family: "Roboto", sans-serif;
}

.navbar-main {
    font-weight: 500;
    font-size: 18px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
}



.costum-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.listproduct {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.listproduct h5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.listproduct .item {
    padding: 0px 10px;
    margin-bottom: 10px;
    max-width: none;
    width: calc(95%);

}

.card-info {
    padding: 0px 15px;
}

.product_img {
    text-align: center;
    height: 225px;
}

.item .product_img {
    margin-top: 10px;
    height: 160px;
    width: 160px;
}

.product_name {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 600;
    height: 60px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.product_badge {
    margin-bottom: 10px;
    display: flex;
}

.product_badge p {
    border: 1px solid #d1d5db;
    border-radius: 5px;
    color: #3a3a3a;
    font-size: 12px;
    margin-right: 10px;
    padding: 1px 5px;
}

.box-price {
    align-items: flex-end;
    color: #444;
    display: flex;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 5px;
}

.box-price .price-show {
    color: #d70018;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-right: 4px;
    line-height: 1.1;
}

.box-price .price-through {
    color: #707070;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
    top: 2px;
}

.product_info {

    align-items: flex-start;
    background: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1.5;
    margin-left: 0;
    // overflow: hidden;
    padding: 5px;
    text-transform: none;
    width: auto;

    margin-bottom: 5px;
}

.bottom-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bottom-div span {
    margin-right: 5px;
    color: #777;
    font-size: 12px;
}

.account-info {
    background: white;
    border-radius: 5px;
}

.left-sidebar-avatar {

    position: relative;
    z-index: 0;
    border-bottom: 1px solid #CFCFCF;
    padding: 16px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;

}

.left-sidebar-avatar .icon-acc {
    height: 48px;
    width: 48px;
}

.left-sidebar-avatar .icon-acc svg {
    height: 48px;
    width: 48px;
}

.left-sidebar-avatar .info-acc {
    padding-left: 24px;
    flex: 1 1 auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

}

.left-sidebar-list a {
    display: block;
    padding: 12px 20px;
    position: relative;
    font-size: 16px;
    color: #111111;
    text-decoration: none;

}

.left-sidebar-list .icon-info {
    width: 25px;
    text-align: center;
    margin-right: 12px;
    display: inline-block;
}

.left-sidebar-list .icon-info svg {
    width: 25px;
    height: 20px;
}

.left-sidebar-list .current a {
    color: #d70018;
    font-weight: 600;
}

.right-main {
    background: white;
    padding: 16px;
}