<div class="mt-4">
    <h3>Thêm sản phẩm mới</h3>
    <form id="createProductForm" method="POST" enctype="multipart/form-data" class="">
        <div class="row">
            <div class="input-group mb-3 col ">
                <span class="input-group-text" id="inputGroup-sizing-default">Tên sản phẩm</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="name">
            </div>
            <div class="mb-3 col">
                <select class="form-select w-auto " name="category" aria-label="Default select example">
                    <option selected>Phân loại sản phẩm</option>
                    {{#each category}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="inputGroup-sizing-default">Giá sản phẩm</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="price">
            </div>
        </div>
        <div class="row">
            <h6>Nhập thông tin chi tiết</h6>
            <div class="col">

                <div></div>
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Màn hình</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="screen">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Hệ điều hành</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="operatingSystem">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Camera sau</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="rearCamera">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Camera trước</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="frontCamera">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Chip</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="chip">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Ram</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="ram">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Dung lượng lưu trữ</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="storageCapacity">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Sim</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="sim">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Pin,Sạc</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="battery">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Hãng</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="manufacturer">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Hỗ trợ mạng</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="networkSup">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Các loại cảm biến</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="sensor">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Chất liệu</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="material">
                </div>
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Thời điểm ra mắt</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="since">
                </div>

            </div>

            <div class="col">
                <div class="input-group mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Mã sản phẩm</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="code">
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label fw-bold">Thêm ảnh sản phẩm</label>
                    <input class="form-control" type="file" id="formFile" name="formFile">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary fw-bold bg-light text-black mx-3" data-bs-dismiss="modal"><i
                    class="bi bi-x-circle"></i> HỦY BỎ </button>
            <button type="submit" class="btn btn-primary fw-bold "><i class="bi bi-check-circle"></i> CẬP
                NHẬT</button>
        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        const createProductForm = document.getElementById('createProductForm');
        createProductForm.addEventListener("submit", async function (e) {
            e.preventDefault();
            const formData = new FormData(createProductForm);
            try {
                const response = await fetch('/api/v1/admin/createProduct', {
                    method: 'POST',
                    body: formData, // Gửi dữ liệu form dưới dạng FormData
                });

                if (response.ok) {
                    // Xử lý kết quả khi gửi thành công
                    alert('Danh mục sản phẩm đã được tạo thành công!');
                    window.location.href = `/api/v1/admin/products`; // Tải lại trang sau khi tạo thành công
                } else {
                    // Xử lý kết quả khi gửi không thành công
                    const responseData = await response.json();
                    alert(responseData.message); // Hiển thị thông báo lỗi từ server
                }
            } catch (error) {
                // Xử lý lỗi khi gửi yêu cầu
                console.error('Error:', error);
                alert('Something went wrong. Please try again.');
            }
        })
    })

</script>