<div class="mt-4">
    <table class="table table-borderless">

        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Quản lý danh mục sản phẩm
                    <a href="/api/v1/admin/category" class="btn btn-primary btn-sm float-end" role="button">Chỉnh sủa
                    </a>
                </td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Quản lý sản phẩm
                    <a href="/api/v1/admin/products" class="btn btn-primary btn-sm float-end" role="button">Chỉnh sủa
                    </a>
                </td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Quản lý đơn hàng
                    <a href="/api/v1/admin/orders" class="btn btn-primary btn-sm float-end" role="button">Chỉnh sủa
                    </a>
                </td>

            </tr>
        </tbody>
    </table>
</div>